.profile {
    padding: 1em 2em;
    position: relative;
    background-color: #eeeeeeda;
    border: none;
    top: 61px;
    width: 100%;
    height:auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.profile main {
    width: 100%;

}

.ProfilleBody {
    width: 80%;
    height: 100%;

}

.profile article {
    max-width: 32%;
    min-width: 420px;
}

.profileBody {
    border: none;
    max-width: 1000px;
    width: 90%;
    height:auto;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profileUser  {
    max-width: 1000px;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e4e4e4;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.profileUser input {
    background-color: transparent;
    width: 100%;
    height: 35px;
    padding: 10px;
}

.profileUser button {
    margin-right: 10px;
}

.QuickSearchInfoBody {
   padding: 15px;
   color: #031149;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
}

.QuickSearchInfoBody h3{
    font-weight: bold;
    font-size: 23px;
}

.QuickSearchInfoBody p {
    font-size: 13px;
}

.QuickSearchInfoBody span {
    font-weight: bold;
}

.ImgFundo {
    margin-right: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    border: 6px solid #fff;
    border-radius: 5px; /* Aumentei o valor para efeito visual */
    box-shadow: 1px 1px 10px #a1a1a1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 120px;
}

.ImgFundo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../../assets/fundo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: inherit; /* Herda o border-radius do contêiner */
}

.ImgFundo img {
    position: relative;
    width: 80px;
    left: 0;
    right: 0;
    top: 10px;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.header img {
    width: 40px;
}

.header h4 {
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    color: #031149;
}

.header div {
    margin-left: 10px;

}


.requeriment {
    background-color: #FFF;
    height: auto;
    border-bottom: 1px solid #e4e4e4;
}

.requerimentBody {
    padding: 15px;
    width: 100%;
}

.Operator {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.Operator div:first-child {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    background-color: #344cad;
    width: 55px;
    height: 55px;
    border-radius: 100px;
}

.Operator img {
    position: relative;
    top: -10px;
}

.Operator div:nth-child(2)  {
    margin-top: 15px;
    width: 80%;
    
}
.Operator div:nth-child(2) p {
    display: flex;
    align-items: center;
    margin: 0 10px;
    font-size: 12px;
}
.Operator div:nth-child(2) p:nth-child(2),
.Operator div:nth-child(2) p:nth-child(3) {
    color: #999999;
}


.Operator span {
    display: flex;
    align-items: center;
    margin-right: 4px;

}

.Operator a {
    margin-right: 5px;
    font-weight: bold;
    color: #344cad;
}

.Operator strong {
    margin-left: 5px;

}

.motivo {
    font-size: 13px;
    padding: 10px 0;
    width: 90%;
    margin-left: 7%;

}

@media (max-width: 750px) {
    
.profileBody {
    width: 100%;
    flex-direction: column;
    
}
.profile article {
    min-width: 100%;
    width: 100%;
}
.profile main{
   width: 100%;     


}

.QuickSearchInfoBody {
    width: 100%;
    max-width: 100%;

}


}