.Dpanel {
    position: relative;
    width: 100%;
    height:auto;
    min-height: 100vh;
    background-color: #eeeeeeda;
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
}

.Dpanel header {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
    background-color: #2c2c2c;
    color: #ffff;
}

.Dpanel header a {
    margin-left: 10px;
    font-size: 18px;
    color: #cacaca;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.Dpanel header span {
    margin-right: 4%;
    font-size: 15px;
    font-weight: 500;

}


.Dpanel header a:hover {
    text-shadow: 1px 1px 15px #fff;
    color: #fff;
}   
.Dpanel header a svg {
    margin-left: 5px;

}
 
.main {
    width: 100vw;
    display: flex;

}

.Dpanel main {
    flex: .85;
    min-height: 80vh;
} 


.Dpanel article {
    min-width: 200px;
    flex: .15;
    color: #cacaca;
    background-color: aqua;
    height: auto;
    min-height: 100vh;
    background-color: #2c2c2c;
}

.Dpanel menu {
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.Dpanel menu a,
.Dpanel menu button {
    font-size: 15px;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: start;
    padding-left: 10px;

}

.Dpanel menu a:hover,
.Dpanel menu button:hover {
    background-color: #4b4b4b;

}

.Dpanel menu a svg,
.Dpanel menu button svg {
    margin-right: 5px;

}

.bgblue {
    background-color: #0068ca;
    color: #fff;
    font-weight: bold;

}



